<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: includes"></head>
<body>

    <div th:include="fragments/header :: navbar"></div>

    <div class="container">

        <div class="col-md-12">
            <p class="alert alert-success" th:if="${success != null}" th:text="${success}"></p>
            <p class="alert alert-danger" th:if="${error != null}" th:text="${error}"></p>
            <h1>Meus dados pessoais</h1>
            <hr />
        </div>

        <div class="col-md-4">
            <div class="list-group">
                <a class="list-group-item" href="#" th:href="@{/add/address}"><span class="glyphicon glyphicon-home"></span>  Adicionar endereço</a>
                <a class="list-group-item" href="#" th:href="@{/update/me}"><span class="glyphicon glyphicon-pencil"></span> Editar Meus dados</a>
                <a class="list-group-item" href="#" th:href="@{/change/secret}"><span class="glyphicon glyphicon-lock"></span>  Alterar senha</a>
                <a class="list-group-item list-group-item-danger" href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#myModal"></span>  Excluir conta</a>
            </div>
        </div>

        <div class="col-md-8">
            <table class="table table-bordered">
                <tr>
                    <td>Nome: </td>
                    <td th:text="${user.name}"></td>
                </tr>

                <tr>
                    <td>E-mail: </td>
                    <td th:text="${user.email}"></td>
                </tr>
                <tr>
                    <td>Telefone: </td>
                    <td th:text="${user.telephone}"></td>
                </tr>
                <tr>
                    <td>Celular: </td>
                    <td th:text="${user.cellphone}"></td>
                </tr>
                <tr>
                    <td>Nascimento: </td>
                    <td th:text="${#temporals.format(user.birthDate,'dd/MM/yyyy')}"></td>
                </tr>
            </table>

            <h2>Endereços cadastrados</h2>
            <hr />
            <p th:if="${user.addresses == null or #lists.size(user.addresses) == 0}" th:text="'Você ainda não possui endereço cadastrado.'"></p>
            <div class="row">
                <div class="col-md-4" th:if="${user.addresses != null}" th:each="address,status : ${user.addresses}">
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="ws-text-address">
                                <h3 th:text="${address.name}">Address Name </h3>
                                <p th:text="${address.type.description}"></p>
                                <hr class="divider" />
                                <p th:text="${address.street + ', ' + address.number}"></p>
                                <p th:text="${address.district.name + ', ' + address.cityName + '/' + address.stateName}"></p>
                                <p th:text="${address.complement}"></p>
                            </div>
                            <hr class="divider" />
                            <form th:action="@{/remove/me/address}" method="post">
                                <input type="hidden" th:value="${status.index}" name="position" id="position" />
                                <button type="submit" class="btn btn-danger" role="button" onclick="return confirm('Deseja realmente deletar este endereço?')">Excluir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>

<!-- Modal remover conta -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Deseja excluir sua conta?</h4>
            </div>
            <div class="modal-body">
                <p>
                    Ao excluir sua conta todos os dados e históricos serão perdidos, deseja realmente excluir sua conta?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="excluir">Ok! Pode excluir!</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Não excluir!</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#excluir").click(function(){
        window.location.href = "/remove/me";
    });
</script>

<script>
    //set equal height in all thumb
    var maxH = 0;
    var maxHCaption = 0;
    $(".thumbnail").each(function(i,value){
        var elementH = $(this).height();
        var elementCaptionH = $(".ws-text-address").eq(i).height();

        if(elementH > maxH) maxH = elementH;
        if(elementCaptionH > maxHCaption) maxHCaption = elementCaptionH;
    })
    $(".thumbnail").each(function(i,value){
        $(this).height(maxH);
        $(".ws-text-address").eq(i).height(maxHCaption);
    });
</script>