<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: includes"></head>
<body>

<div th:include="fragments/header :: navbar"></div>

<div class="container">

<div class="col-md-12">


    <h1 class="text-center">Alterar senha</h1>
    <p class="text-center">A alteração de senha começam a valer a partir do próximo login!</p>
    <hr />

    <div class="col-md-3"></div>

    <div class="col-md-6">
            <form action="#" th:action="@{/change/secret}" th:object="${updatePasswordDto}" method="post" >

                <div class="form-group">
                    <label for="olderPassword">Senha atual <span class="label label-info">obrigatório</span> <spam th:if="${#fields.hasErrors('olderPassword')}" th:errors="*{olderPassword}" class="label label-danger"></spam></label>
                    <input type="password" th:value="*{olderPassword}" th:field="*{olderPassword}" id="olderPassword" class="form-control" />
                </div>

                <hr />

                <div class="form-group">
                    <label for="newPassword">Nova Senha <span class="label label-info">obrigatório</span> <spam th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="label label-danger"></spam></label>
                    <input type="password" th:value="*{newPassword}" th:field="*{newPassword}" id="newPassword" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="reNewPassword">Confirmar Nova Senha <span class="label label-info">obrigatório</span> <spam th:if="${#fields.hasErrors('reNewPassword')}" th:errors="*{reNewPassword}" class="label label-danger"></spam></label>
                    <input type="password" th:value="*{reNewPassword}" th:field="*{reNewPassword}" id="reNewPassword" class="form-control" />
                </div>

                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Salvar alterações</button>
                <a href="#" th:href="@{/detail/me}" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancelar alterações </a>
            </form>
    </div>

    <div class="col-md-3"></div>
</div>
</div>
</body>
</html>
